body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 5vh 26vw;
  background-color: hsl(210, 60%, 98%);
}

.container {
  background-color: white;
  max-width: 100%;
  margin: 40px auto;
  padding: 30px 100px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin-right: 10px;
  font-size: 25px;
  font-weight: 800;
}

.badge {
  background-color: hsl(219, 85%, 26%);
  color: white;
  font-size: 16px; 
  padding: 3px 3px; 
  border-radius: 5px;
  height: 25px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.readBtn {
  background-color: white;
  border: none;
  color: hsl(219, 12%, 42%);
  font-size: 16px;
  cursor: pointer;
}

.notification.unread .circle-icon {
  display: inline;
}

.readBtn:hover {
  color: hsl(219, 85%, 26%)
}

.unread {
  background-color: hsl(210, 60%, 98%);
}

.read {
  background-color: white;
}

.notification.read .circle-icon {
  display: none;
}

.notification {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 15px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.notification .profile-pic {
  float: left;
  margin-right: 10px;
  align-items: start;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notification .content {
  margin-left: 5px;
  color: hsl(219, 12%, 42%);
  line-height: 20px;
  letter-spacing: 0.2px;
}

.notification .content span {
  font-weight: 800;
  font-size: 16px;
  color: black;
  cursor: pointer;
  margin-right: 2px;
}

.notification .content span:hover {
  color: hsl(219, 85%, 26%)
}

.notification .content p {
  font-size: 16px;
  letter-spacing: 0.25px;
  margin-bottom: 0;
  font-weight: 500;
}

.notification .content .time {
  font-size: 14px;
  color: #999;
}

.notification .content .action {
  color: hsl(219, 12%, 42%);
  font-weight: 800;
  transition: color 0.3s, text-decoration 0.3s;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.notification .content .action:hover {
  color: hsl(219, 85%, 26%);
}

.notification .content .action.active {
  color: hsl(219, 85%, 26%);
}

.img-comment {
  margin-left: 10px;
  border-radius: 5px;
  height: 45px;
  width: 45px;
}

.circle-icon {
  font-size: 8px;
  vertical-align: middle;
}

.notification .content .message {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid hsl(205, 33%, 90%);
  border-radius: 5px;
  padding: 15px;
  padding-right: 17px;
  color: hsl(219, 12%, 42%);
  margin-top: 10px;
  line-height: 22px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.message:hover {
  background-color: hsl(211, 68%, 94%);
}


.content {
  flex-grow: 1;
}

.seen-icon {
  display: none;
  position: absolute;
  right: 10px;
  top: 1px;
  cursor: pointer;
}

.notification:hover .seen-icon {
  display: block;
}


/* modal */

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: hsl(0, 0%, 100%); 
  margin: 5% auto;
  padding: 20px;
  border-radius: 15px;
  width: 60%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: 66.1%;
}

/* Header styles */
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.modal-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(219, 85%, 26%);
}

/* Body styles */
.modal-body {
  text-align: center;
}

.user-profile {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.user-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  margin: 20px auto;
}

.user-info {
  margin-left: 20px;
}

.user-info p strong {
  font-size: 20px;
  color: hsl(219, 14%, 63%);
}

.user-info p {
  font-size: 25px;
}

/* Footer styles */
.modal-footer {
  text-align: center;
}

.follow-button {
  background-color: hsl(219, 85%, 26%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px auto;
  border-radius: 5px;
  cursor: pointer;
}

.follow-button:hover {
  background-color: hsl(219, 85%, 18%);
}

/* Responsive styles */
@media (max-width: 375px) {

  body {
    padding: 0;
    margin: 0;
  }

  .container {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 10px 5px;
    border-radius: 0;
    border: none;
  }

  .header h1 {
    font-size: 20px;
    font-weight: 800;
  }

  .badge {
    font-size: 16px; 
    height: 25px;
    width: 33px;
    border-radius: 7px;
  }

  .header button {
    font-size: 14px;
    margin-bottom: 5px;
    padding-right: 0;
  }

  .notification .profile-pic {
    width: 40px;
    height: 40px;
    top: 0;
  }

  .notification .content span {
    font-size: 14px;
    font-weight: 800;
  }

  .notification .content {
    margin-left: 5px;
    line-height: 17px;
    word-spacing: 0.1px;
  }

  .notification .content .time {
    font-size: 14px;
  }

  .notification .content p {
    font-size: 14px;
    padding-right: 0;
  }

  .notification .content .action {
    font-size: 14px;
    font-weight: 700;
    margin-left: 2px;
  }

  .notification .content .message {
    font-size: 14px;
    margin-right: 10px;
  }

  .notification .seen-icon {
    visibility: visible;
    top: 1px;
    opacity: 0.5;
    transition: none;
    display: block;
    
  }
  
  .img-comment {
    height: 35px;
    width: 35px;
    margin-right: 10px;
  }

  .notification {
    padding: 15px 5px 15px 15px;
  }

  /* Modal responsive styles */
  .modal-content {
    width: 90%;
    height: 68.5%;
    margin: 10% auto;
    padding: 10px;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .user-image {
    max-width: 100px;
    max-height: 100px;
    margin: 10px auto;
  }

  .user-info {
    margin-left: 10px;
  }

  .follow-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (min-width: 376px) and (max-width: 900px){
  body {
    padding: 5vh;
    margin: 0;
  }
  .container {
    max-width: 100%;
    padding: 30px 30px;
    margin: 30px 10px
  }
  .notification {
    padding: 5px;
  }
}

@media (min-width: 376px) and (max-width: 1440px) {
  .container {
      max-width: 80%;
      margin: 30px auto;
      padding: 20px;
  }
}
